body {
  background-color: lightgray;
  /* height: 100vh; */
}

.btn {
  margin-top: 15px;
}

h1 {
  margin: 40px 0 10px 0;
  /* text-align: center; */
}

#exchange {
  width: 90%;
}

input, select {
  margin-top: 8px;
  margin-bottom: 8px;
}

#countryCode {
  width: 20%;
}

#blue-top {
  height: 100px;
  width: 100%;
  background-color: darkblue;
  margin-bottom: 70px;
}

#blue-bottom {
  height: 100px;
  width: 100%;
  background-color: darkblue;
  position: absolute;
  bottom: 0;
}

img {
  width: 400px;
  height: auto;
  margin-bottom: 100px;
}